<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
        <!-- When true, the static Teletext “Story of Teletext” will display with its own header -->
		<!-- Story of Teletext is to debug Page Rotation and Page Wrapping features -->
        <add key="DebugStaticStoryEnabled" value="true" />
    </appSettings>
</configuration>